<h1><%= @genre.name %></h1>
<%= link_to "edit genre", edit_genre_path(@genre) %>
<br>
<%= link_to "songs index", songs_path  %>
<br>
<%= link_to "artists index", artist_path %>
<br>
<%= link_to "genres index", genres_path %>